<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>LyfeSpace - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <nav
      class="
        navbar navbar-expand-lg navbar-light navbar-store
        fixed-top
        navbar-fixed-top
      "
      data-aos="fade-down"
    >
      <div class="container">
        <a href="/index.html" class="navbar-brand">
          <img src="/images/logo4.svg" alt="logo" class="logo" width="120px" />
          LyfeSpace
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/categories.html" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Rewards</a>
            </li>
            <li class="nav-item">
              <a href="/register.html" class="nav-link active">Sign Up</a>
            </li>
            <li class="nav-item">
              <a
                href="/login.html"
                class="btn btn-success nav-link px-4 text-white"
                >Sign In</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-content page-auth" id="register">
      <div class="section-store-auth" data-aos="fade-up">
        <div class="container">
          <div
            class="row align-items-center justify-content-center row-login mb-4"
          >
            <div class="col-lg-4">
              <h2>
                Start Buying and Selling
                <br />
                in The Newest Way
              </h2>
              <form class="mt-3">
                <div class="form-group mb-3">
                  <label>Full Name</label>
                  <input
                    type="text"
                    class="form-control is-valid"
                    v-model="name"
                    autofocus
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Email Address</label>
                  <input
                    type="email"
                    class="form-control is-invalid"
                    v-model="email"
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Password</label>
                  <input type="password" class="form-control" />
                </div>
                <div class="form-group mb-3">
                  <label>Store</label>
                  <p class="text-muted">Do you want to open an online store?</p>
                  <div class="form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="is_store_open"
                      id="openStoreTrue"
                      v-model="is_store_open"
                      :value="true"
                    />
                    <label for="openStoreTrue" class="custom-control-label">
                      Yes, i want
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="is_store_open"
                      id="openStoreFalse"
                      v-model="is_store_open"
                      :value="false"
                    />
                    <label for="openStoreFalse" class="custom-control-label">
                      No, thank you
                    </label>
                  </div>
                </div>
                <div class="form-group mb-3" v-if="is_store_open">
                  <label>Store Name</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group mb-3" v-if="is_store_open">
                  <label>Category</label>
                  <select name="category" class="form-select">
                    <option selected>Select Category</option>
                    <option disabled>Furniture</option>
                  </select>
                </div>
                <a
                  href="/dashboard.html"
                  class="btn btn-success btn-block w-100 mt-4"
                  >Sign Up Now</a
                >
                <a
                  href="/login.html"
                  class="btn btn-signup btn-block w-100 mt-4"
                  >Back to Sign In</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery-3.6.0.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="/vendor/vue/vue.js"></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <script>
      Vue.use(Toasted);

      var register = new Vue({
        el: "#register",
        mounted() {
          AOS.init();
          this.$toasted.error(
            "Sorry, your email is already registered in our system.",
            {
              position: "top-center",
              className: "rounded",
              duration: 1000,
            }
          );
        },
        data: {
          name: "Asep Squarepants",
          email: "tampandanberani@gmail.com",
          password: "",
          is_store_open: true,
          store_name: "",
        },
      });
    </script>
    <script src="/script/navbar-scroll.js"></script>
  </body>
</html>
