body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 130px; //improve
}

footer {
  .site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }

  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }

  .site-footer hr.small {
    margin: 20px 0;
  }

  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }

  .site-footer a {
    color: #737373;
  }

  .site-footer a:hover {
    color: #3366cc;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;
  }

  .footer-links li {
    display: block;
    text-decoration: none;
  }

  .footer-links a {
    color: #737373;
    text-decoration: none;
  }

  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #ea4c89;
    text-decoration: none;
  }

  .footer-links.inline li {
    display: inline-block;
  }

  .footer-widget p {
    margin-top: 10px;
    margin-bottom: 27px;
  }

  // ANIMATE BORDER
  .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #ea4c89;
  }

  .animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
  }

  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px);
    }
  }

  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px);
    }
  }

  .animate-border.border-white:after {
    border-color: #fff;
  }

  .animate-border.border-yellow:after {
    border-color: #f5b02e;
  }

  .animate-border.border-orange:after {
    border-right-color: #ea4c89;
    border-left-color: #ea4c89;
  }

  .animate-border.border-ash:after {
    border-right-color: #eef0ef;
    border-left-color: #eef0ef;
  }

  .animate-border.border-offwhite:after {
    border-right-color: #f7f9f8;
    border-left-color: #f7f9f8;
  }

  /* Animated heading border */
  @keyframes primary-short {
    0% {
      width: 15%;
    }
    50% {
      width: 90%;
    }
    100% {
      width: 10%;
    }
  }

  @keyframes primary-long {
    0% {
      width: 80%;
    }
    50% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  // END ANIMATE BORDER STYLE

  //FORM SUBSCRIBE
  .dk-footer-form {
    position: relative;
  }
  .dk-footer-form input[type="email"] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
  }
  .dk-footer-form input::-webkit-input-placeholder,
  .dk-footer-form input::-moz-placeholder,
  .dk-footer-form input:-ms-input-placeholder,
  .dk-footer-form input::-ms-input-placeholder,
  .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
  }
  .dk-footer-form input::-webkit-input-placeholder,
  .dk-footer-form input::-moz-placeholder,
  .dk-footer-form input:-ms-input-placeholder,
  .dk-footer-form input::-ms-input-placeholder,
  .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
  }
  .dk-footer-form button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 16px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
  }
  .dk-footer-form button:hover {
    cursor: pointer;
  }
  //END SUBSCRIBE STYLE

  .site-footer .social-icons {
    text-align: right;
  }

  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }

  .copyright-text {
    margin: 0;
  }
  .copyright-text a {
    text-decoration: none;
  }
  .copyright-text a:hover {
    color: #ea4c89;
  }

  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }

  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }

  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }

  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }

  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }

  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }

  .social-icons a.twitter:hover {
    background-color: #00aced;
  }

  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }

  .social-icons a.dribbble:hover {
    background-color: #ea4c89;
  }

  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}

.form-control {
  background-color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #555;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(56, 56, 56);
}
