.navbar-store {
  padding-top: 5px; //15px by bwa
  background-color: #fff !important;

  .navbar-brand {
    font-family: "Major Mono Display", monospace;
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {
    background-color: #fff !important;
  }

  .nav-item {
    .nav-link {
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
        margin-right: 10px;
      }
      color: #0c0d36;
    }

    .nav-link.active {
      color: #0c0d36;
      font-weight: 500;
    }

    .btn-success {
      background-color: #8470ff;
      border-color: #8470ff;
      opacity: 0.6;
    }

    .btn-success:hover {
      background-color: #8470ff;
      border-color: #8470ff;
      opacity: 1;
    }
  }

  .profile-picture {
    max-height: 45px;
  }

  .card-badge {
    display: inline-block;
    min-width: 2em;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background: #29a867;
    color: #fefefe;
    margin-left: -10px;
  }
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
