.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .store-trend-categories {
    margin-top: 30px;
  }

  .store-new-product {
    margin-top: 10px;
  }

  .illustrator {
    margin-top: 50px;
    margin-bottom: -100px;

    .title-social-media {
      margin-bottom: 15px;

      h5 {
        text-align: center;
        color: #0c0d36;
      }
    }
  }
}
